[common]
# Unset STRICT_DEVMEM according to Broadcom's requirement and for CENTEC arm64 arch
CONFIG_STRICT_DEVMEM
# Unset classid and priority network cgroups due to conflict between cgroups v1 and v2
CONFIG_CGROUP_NET_CLASSID
CONFIG_NET_CLS_CGROUP
CONFIG_NETFILTER_XT_MATCH_CGROUP
CONFIG_CGROUP_NET_PRIO
# Unset to enable UBIFS on flash
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS
###-> mellanox_common-start
###-> mellanox_common-end

CONFIG_MEDIA_SUPPORT
CONFIG_MEDIA_SUBDRV_AUTOSELECT
CONFIG_MEDIA_CAMERA_SUPPORT
CONFIG_MEDIA_ANALOG_TV_SUPPORT
CONFIG_MEDIA_DIGITAL_TV_SUPPORT
CONFIG_MEDIA_RADIO_SUPPORT
CONFIG_MEDIA_SDR_SUPPORT
CONFIG_MEDIA_PLATFORM_SUPPORT
CONFIG_MEDIA_TEST_SUPPORT
CONFIG_VIDEO_DEV
CONFIG_MEDIA_CONTROLLER
CONFIG_DVB_CORE
CONFIG_VIDEO_V4L2_I2C
CONFIG_VIDEO_V4L2_SUBDEV_API
CONFIG_VIDEO_TUNER
CONFIG_V4L2_H264
CONFIG_V4L2_VP9
CONFIG_V4L2_MEM2MEM_DEV
CONFIG_V4L2_FWNODE
CONFIG_V4L2_ASYNC
CONFIG_VIDEOBUF_GEN
CONFIG_VIDEOBUF_DMA_SG
CONFIG_VIDEOBUF_VMALLOC
CONFIG_MEDIA_CONTROLLER_DVB
CONFIG_DVB_NET
CONFIG_USB_GSPCA
CONFIG_VIDEO_USBTV
CONFIG_USB_VIDEO_CLASS
CONFIG_SOUND
CONFIG_SOUND_OSS_CORE
CONFIG_SND
CONFIG_DRM
#CONFIG_DRM_PANEL_ORIENTATION_QUIRKS
CONFIG_STAGING_MEDIA
CONFIG_WLAN
CONFIG_BT
CONFIG_ATM
CONFIG_INPUT_TOUCHSCREEN
CONFIG_HID_PICOLCD_BACKLIGHT
CONFIG_HID_PICOLCD_LEDS
CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_ATTINY
CONFIG_USB_LCD
CONFIG_FB_ARMCLCD
CONFIG_FB_MX3
#CONFIG_BACKLIGHT_CLASS_DEVICE
CONFIG_BACKLIGHT_PWM
CONFIG_BACKLIGHT_LP855X
CONFIG_BACKLIGHT_GPIO
CONFIG_BACKLIGHT_LED

CONFIG_SERIAL_IMX
CONFIG_I2C_IMX
CONFIG_SPI_IMX
CONFIG_PINCTRL_IMX
CONFIG_IMX2_WDT
CONFIG_USB_DWC3_IMX8MP
CONFIG_USB_CHIPIDEA_IMX
CONFIG_MMC_SDHCI_ESDHC_IMX
CONFIG_IMX_SDMA
CONFIG_MXC_CLK
CONFIG_CLK_IMX8MM
CONFIG_CLK_IMX8MN
CONFIG_CLK_IMX8MP
CONFIG_CLK_IMX8MQ
#CONFIG_TIMER_IMX_SYS_CTR
CONFIG_IMX_MBOX
#CONFIG_IMX_GPCV2_PM_DOMAINS
CONFIG_SOC_IMX8M
CONFIG_SOC_IMX9
CONFIG_QCOM_AOSS_QMP

CONFIG_FSL_SDK_FMAN
CONFIG_FSL_SDK_QMAN
CONFIG_FSL_SDK_BMAN

CONFIG_VORTEX
CONFIG_JME
CONFIG_KORINA
CONFIG_FEALNX
CONFIG_ETHOC
CONFIG_ADAPTEC_STARFIRE
CONFIG_SUN4I_EMAC
CONFIG_AMD8111_ETH
CONFIG_PCNET32
CONFIG_ARC_EMAC_CORE
CONFIG_ATL2
CONFIG_ATL1
CONFIG_ATL1E
CONFIG_ATL1C
CONFIG_B44
CONFIG_BCM63XX_ENET
CONFIG_BCMGENET
CONFIG_SYSTEMPORT
CONFIG_EP93XX_ETH
CONFIG_DM9000
CONFIG_WINBOND_840
CONFIG_SUNDANCE
CONFIG_FTMAC100
CONFIG_FS_ENET
CONFIG_KS8851
CONFIG_KS8851_MLL
CONFIG_KSZ884X_PCI
CONFIG_PCH_GBE
CONFIG_HAMACHI
CONFIG_R6040
CONFIG_8139CP
CONFIG_8139TOO
CONFIG_SH_ETH
CONFIG_RAVB
CONFIG_SGI_IOC3_ETH
CONFIG_SIS900
CONFIG_SIS190
CONFIG_SMC91X
CONFIG_PCMCIA_SMC91C92
CONFIG_EPIC100
CONFIG_SMC911X
CONFIG_SMSC911X
CONFIG_SNI_NETSEC
CONFIG_STMMAC_ETH
CONFIG_DWMAC_DWC_QOS_ETH
CONFIG_VIA_RHINE
CONFIG_VIA_VELOCITY
CONFIG_USB_PEGASUS
CONFIG_USB_RTL8150
CONFIG_USB_RTL8152
CONFIG_USB_LAN78XX
CONFIG_USB_USBNET
CONFIG_USB_NET_CH9200

CONFIG_ARCH_SUNXI
CONFIG_ARCH_BCM
CONFIG_ARCH_K3
CONFIG_ARCH_HISI
CONFIG_ARCH_MESON
CONFIG_ARCH_MVEBU
CONFIG_ARCH_MXC
CONFIG_ARCH_QCOM
CONFIG_ARCH_RENESAS
CONFIG_ARCH_ROCKCHIP
CONFIG_ARCH_SEATTLE
CONFIG_ARCH_SYNQUACER
CONFIG_ARCH_TEGRA
CONFIG_ARCH_THUNDER
CONFIG_ARCH_THUNDER2
CONFIG_ARCH_VEXPRESS
CONFIG_ARCH_XGENE
CONFIG_ARCH_ZYNQMP

CONFIG_AX25
CONFIG_CAN
CONFIG_WIRELESS
CONFIG_NET_9P
CONFIG_NFC
CONFIG_GNSS
#CONFIG_NVME_CORE

CONFIG_NET_VENDOR_3COM
CONFIG_NET_VENDOR_ADAPTEC
CONFIG_NET_VENDOR_AGERE
CONFIG_NET_VENDOR_ALACRITECH
CONFIG_NET_VENDOR_ALLWINNER
CONFIG_NET_VENDOR_ALTEON
CONFIG_NET_VENDOR_AMAZON
CONFIG_NET_VENDOR_AMD
CONFIG_NET_VENDOR_AQUANTIA
CONFIG_NET_VENDOR_ASIX
#CONFIG_NET_VENDOR_ATHEROS
#CONFIG_NET_VENDOR_BROADCOM
CONFIG_NET_VENDOR_CADENCE
CONFIG_NET_VENDOR_CAVIUM
#CONFIG_NET_VENDOR_CHELSIO
CONFIG_NET_VENDOR_CISCO
CONFIG_NET_VENDOR_CORTINA
CONFIG_NET_VENDOR_DAVICOM
CONFIG_NET_VENDOR_DEC
CONFIG_NET_VENDOR_DLINK
CONFIG_NET_VENDOR_EMULEX
CONFIG_NET_VENDOR_ENGLEDER
CONFIG_NET_VENDOR_EZCHIP
CONFIG_NET_VENDOR_FUNGIBLE
CONFIG_NET_VENDOR_GOOGLE
CONFIG_NET_VENDOR_HISILICON
CONFIG_NET_VENDOR_HUAWEI
CONFIG_NET_VENDOR_I825XX
#CONFIG_NET_VENDOR_INTEL
CONFIG_NET_VENDOR_WANGXUN
CONFIG_NET_VENDOR_ADI
CONFIG_NET_VENDOR_LITEX
CONFIG_NET_VENDOR_MARVELL
CONFIG_NET_VENDOR_MELLANOX
CONFIG_NET_VENDOR_MICREL
CONFIG_NET_VENDOR_MICROCHIP
CONFIG_NET_VENDOR_MICROSEMI
CONFIG_NET_VENDOR_MICROSOFT
CONFIG_NET_VENDOR_MYRI
CONFIG_NET_VENDOR_NI
CONFIG_NET_VENDOR_NATSEMI
CONFIG_NET_VENDOR_NETERION
CONFIG_NET_VENDOR_NETRONOME
CONFIG_NET_VENDOR_8390
CONFIG_NET_VENDOR_NVIDIA
CONFIG_NET_VENDOR_OKI
CONFIG_NET_VENDOR_PACKET_ENGINES
CONFIG_NET_VENDOR_PENSANDO
CONFIG_NET_VENDOR_QLOGIC
CONFIG_NET_VENDOR_BROCADE
CONFIG_NET_VENDOR_QUALCOMM
CONFIG_NET_VENDOR_RDC
#CONFIG_NET_VENDOR_REALTEK
CONFIG_NET_VENDOR_RENESAS
CONFIG_NET_VENDOR_ROCKER
CONFIG_NET_VENDOR_SAMSUNG
CONFIG_NET_VENDOR_SILAN
CONFIG_NET_VENDOR_SIS
CONFIG_NET_VENDOR_SOLARFLARE
CONFIG_NET_VENDOR_SMSC
CONFIG_NET_VENDOR_SOCIONEXT
CONFIG_NET_VENDOR_STMICRO
CONFIG_NET_VENDOR_SUN
CONFIG_NET_VENDOR_SYNOPSYS
CONFIG_NET_VENDOR_TEHUTI
CONFIG_NET_VENDOR_TI
CONFIG_NET_VENDOR_VERTEXCOM
CONFIG_NET_VENDOR_VIA
CONFIG_NET_VENDOR_WIZNET
CONFIG_NET_VENDOR_XILINX

#CONFIG_HID
CONFIG_INFINIBAND
CONFIG_VIRT_DRIVERS
#CONFIG_VIRTIO
#CONFIG_VHOST
CONFIG_HYPERV
CONFIG_XEN_BALLOON
CONFIG_STAGING
#CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON

[arm64]
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU

